# Census Income Modeling

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress
import pipeline_utilities as p_util

In [3]:
# Import and examine the training dataset
train_data = pd.read_csv("../Project2_Resources/census-income-train.csv")
train_data.head()

,Age,Class,Industry,Occupation,Education,Wage per hour,Education last week,Marital,Major Industry,Major Occupation,...,FatherCountry,MotherCountry,BirthCountry,Citizenship,Self employed,VetQtnaire,Veteran,Weeks Worked,Year,Above50K
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,-50000
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000

In [4]:
# Import and examine the test dataset
test_data = pd.read_csv("../Project2_Resources/census-income-test.csv")
test_data.head()

,Age,Class,Industry,Occupation,Education,Wage per hour,Education last week,Marital,Major Industry,Major Occupation,...,FatherCountry,MotherCountry,BirthCountry,Citizenship,Self employed,VetQtnaire,Veteran,Weeks Worked,Year,Above50K
0,38,Private,6,36,1st 2nd 3rd or 4th grade,0,Not in universe,Married-civilian spouse present,Manufacturing-durable goods,Machine operators assmblrs & inspctrs,...,Mexico,Mexico,Mexico,Foreign born- Not a citizen of U S,0,Not in universe,2,12,95,-50000
1,44,Self-employed-not incorporated,37,12,Associates degree-occup /vocational,0,Not in universe,Married-civilian spouse present,Business and repair services,Professional specialty,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,26,95,-50000
2,2,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,-50000
3,35,Private,29,3,High school graduate,0,Not in universe,Divorced,Transportation,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,94,-50000
4,49,Private,4,34,High school graduate,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,50,95,-50000

In [5]:
# Review the columns
train_data.columns

Index(['Age', 'Class', 'Industry', 'Occupation', 'Education', 'Wage per hour',
       'Education last week', 'Marital', 'Major Industry', 'Major Occupation',
       'Race', 'Hispanic', 'Gender', 'Labor union', 'Unemployment Reason',
       'Employment Status', 'Capital Gains', 'Capital Loss', 'Dividends',
       'TaxFiler', 'Previous Region', 'Previous State', 'Family Status',
       'Household', 'Instance Weight', 'MIGMSA', 'MIGRegion', 'MIGMove',
       '1YearAgo', 'PrevSunBelt', 'Under18', 'Parents', 'FatherCountry',
       'MotherCountry', 'BirthCountry', 'Citizenship', 'Self employed',
       'VetQtnaire', 'Veteran', 'Weeks Worked', 'Year', 'Above50K'],
      dtype='object')

In [6]:
# Review the values
#train_data.describe()

In [7]:
# Define a function
def set_target(above50k):
    if above50k == '-50000':
        return 0
    return 1

# "Apply" the function to the amount column in the two data sets
train_data['KTarget'] = train_data['Above50K'].apply(set_target)
train_data['KTarget'].value_counts()

KTarget
0    187141
1     12382
Name: count, dtype: int64

In [8]:
test_data['KTarget'] = test_data['Above50K'].apply(set_target)
test_data['KTarget'].value_counts()

KTarget
0    93576
1     6186
Name: count, dtype: int64

In [12]:
columns_to_encode = ['Class', 'Education', 'Education last week', 'Marital',
                     'Major Industry', 'Major Occupation', 'Race', 'Employment Status',
                     'Hispanic', 'Gender', 'Labor union', 'Unemployment Reason', 
                     'TaxFiler', 'Previous Region', 'Previous State', 'Family Status', 
                     'Household', 'MIGMSA', 'MIGRegion', 'MIGMove',
                     '1YearAgo', 'PrevSunBelt', 'Parents', 'FatherCountry', 'MotherCountry', 
                     'BirthCountry', 'Citizenship', 'Self employed', 
                     'VetQtnaire', 'Veteran' 
                    ]

# Make a copy of the datasets
train_data_copy = train_data.copy()
test_data_copy = test_data.copy()

# Loop through columns_to_encode and convert the columns to category codes
for column in columns_to_encode:
    train_data_copy[column] = train_data_copy[column].astype("category").cat.codes
    test_data_copy[column] = test_data_copy[column].astype("category").cat.codes

train_data_copy.head()

,Age,Class,Industry,Occupation,Education,Wage per hour,Education last week,Marital,Major Industry,Major Occupation,...,MotherCountry,BirthCountry,Citizenship,Self employed,VetQtnaire,Veteran,Weeks Worked,Year,Above50K,KTarget
0,73,3,0,0,12,0,2,6,14,6,...,40,40,4,0,1,2,0,95,-50000,0
1,58,6,4,34,16,0,2,0,4,8,...,40,40,4,0,1,2,52,94,-50000,0
2,18,3,0,0,0,0,1,4,14,6,...,41,41,0,0,1,2,0,95,-50000,0
3,9,3,0,0,10,0,2,4,14,6,...,40,40,4,0,1,0,0,94,-50000,0
4,10,3,0,0,10,0,2,4,14,6,...,40,40,4,0,1,0,0,94,-50000,0

In [13]:
X_train = train_data_copy.drop(columns=['Above50K', 'KTarget'])
X_test = test_data_copy.drop(columns=['Above50K', 'KTarget'])

In [14]:
#train_data_copy[['KTarget', 'Capital Gains', 'Parents', 'Veteran', 'Family Status', 'Industry', 'Weeks Worked', 'Wage per hour']].corr()
print(X_train.corr())

                          Age     Class  Industry  Occupation  Education  \
Age                  1.000000  0.087751  0.157822    0.117414   0.019436
Class                0.087751  1.000000  0.305050    0.377095   0.072739
Industry             0.157822  0.305050  1.000000    0.563493   0.179267
Occupation           0.117414  0.377095  0.563493    1.000000   0.072849
Education            0.019436  0.072739  0.179267    0.072849   1.000000
Wage per hour        0.036938  0.036878  0.165980    0.194498   0.046064
Education last week  0.166565 -0.022285 -0.042954   -0.043606   0.017986
Marital             -0.295850 -0.166327 -0.311821   -0.262534  -0.137404
Major Industry      -0.060803 -0.136778 -0.027164   -0.187754  -0.035434
Major Occupation     0.010021  0.056247  0.118254    0.074611  -0.017060
Race                 0.083260  0.055184  0.026234    0.024634   0.037215
Hispanic            -0.103743 -0.037743 -0.057725    0.002744  -0.101863
Gender              -0.052560  0.080021 -0.025911    0.138841  -0.001576
Labor union         -0.020773 -0.091847 -0.200757   -0.140415  -0.038207
Unemployment Reason -0.002896  0.028661  0.048931    0.038242  -0.002989
Employment Status    0.223387  0.054658  0.104898    0.123459  -0.029335
Capital Gains        0.053590  0.049055  0.066017    0.002534   0.037643
Capital Loss         0.063351  0.044683  0.072586    0.043680   0.030568
Dividends            0.104976  0.015757  0.012774   -0.026726   0.034058
TaxFiler            -0.311794 -0.109688 -0.221897   -0.167021  -0.102530
Previous Region     -0.007131 -0.003672  0.001263    0.002880  -0.001273
Previous State       0.056969 -0.007924 -0.015505   -0.018977  -0.000515
Family Status        0.529369  0.124307  0.288142    0.188779   0.091482
Household            0.479778  0.093539  0.227360    0.132426   0.069258
Instance Weight     -0.001611  0.009114  0.029388    0.027047   0.022017
MIGMSA               0.011791 -0.004506 -0.016335   -0.009099  -0.003276
MIGRegion           -0.010431 -0.000366 -0.005280    0.003824  -0.003624
MIGMove             -0.007846 -0.000840 -0.005989    0.003157  -0.003713
1YearAgo             0.094018 -0.007711 -0.018274   -0.020632  -0.006122
PrevSunBelt          0.001326 -0.000782 -0.007893    0.000637  -0.006794
Under18              0.140887  0.169917  0.642096    0.515554   0.170174
Parents              0.691274  0.235105  0.454443    0.408644   0.148187
FatherCountry       -0.095728  0.008448  0.036412    0.027968   0.051352
MotherCountry       -0.083374  0.006966  0.031556    0.022410   0.049210
BirthCountry        -0.068469 -0.030828 -0.031001   -0.050206   0.055674
Citizenship         -0.051689 -0.033871 -0.022274   -0.078001   0.094450
Self employed       -0.002265  0.121951  0.252694    0.228952   0.077165
VetQtnaire          -0.065730  0.007673  0.000196   -0.002050  -0.019359
Veteran              0.674844  0.247322  0.476475    0.438680   0.004012
Weeks Worked         0.206181  0.384685  0.754472    0.655613   0.206955
Year                 0.004413 -0.001244  0.003430   -0.003140   0.002038

                     Wage per hour  Education last week   Marital  \
Age                       0.036938             0.166565 -0.295850
Class                     0.036878            -0.022285 -0.166327
Industry                  0.165980            -0.042954 -0.311821
Occupation                0.194498            -0.043606 -0.262534
Education                 0.046064             0.017986 -0.137404
Wage per hour             1.000000            -0.000131 -0.080786
Education last week      -0.000131             1.000000 -0.153375
Marital                  -0.080786            -0.153375  1.000000
Major Industry           -0.034042            -0.039844  0.103234
Major Occupation          0.026506            -0.010536 -0.028232
Race                      0.006141             0.018020 -0.078023
Hispanic                 -0.030282             0.001679  0.046363
Gender                    0.023230             0.001779 -0.042069
Labor union              -0.308580             0.029299  0.067726
Unemployment Reason      -0.006063            -0.016430  0.004849
Employment Status         0.008526            -0.059300 -0.098594
Capital Gains            -0.001082             0.018985 -0.051685
Capital Loss              0.010993             0.008765 -0.043947
Dividends                -0.005731             0.018474 -0.030482
TaxFiler                 -0.057911            -0.204339  0.513778
Previous Region          -0.002723             0.002734 -0.005345
Previous State            0.007250             0.011709 -0.005047
Family Status             0.063540             0.227402 -0.451024
Household                 0.050260             0.264646 -0.434075
Instance Weight           0.012353            -0.021797 -0.002185
MIGMSA                   -0.001907             0.004156  0.001742
MIGRegion                -0.001535             0.000476  0.003315
MIGMove                  -0.001614             0.001022  0.002782
1YearAgo                  0.004259             0.011235 -0.015064
PrevSunBelt              -0.003576             0.000886 -0.000550
Under18                   0.191543            -0.060929 -0.307960
Parents                   0.111323             0.002490 -0.415727
FatherCountry             0.025864            -0.007928 -0.015835
MotherCountry             0.021858            -0.002527 -0.016492
BirthCountry              0.007548            -0.003445  0.033123
Citizenship               0.009645            -0.002706  0.031705
Self employed             0.054051            -0.085535 -0.086227
VetQtnaire               -0.000293            -0.010362  0.025481
Veteran                   0.113094            -0.138344 -0.391808
Weeks Worked              0.195687             0.023824 -0.396805
Year                      0.002283             0.002115 -0.000666

                     Major Industry  Major Occupation  ...   Parents  \
Age                       -0.060803          0.010021  ...  0.691274
Class                     -0.136778          0.056247  ...  0.235105
Industry                  -0.027164          0.118254  ...  0.454443
Occupation                -0.187754          0.074611  ...  0.408644
Education                 -0.035434         -0.017060  ...  0.148187
Wage per hour             -0.034042          0.026506  ...  0.111323
Education last week       -0.039844         -0.010536  ...  0.002490
Marital                    0.103234         -0.028232  ... -0.415727
Major Industry             1.000000          0.115280  ... -0.126058
Major Occupation           0.115280          1.000000  ...  0.047067
Race                      -0.025363          0.004636  ...  0.014341
Hispanic                   0.008775         -0.017615  ... -0.046058
Gender                    -0.052164          0.118043  ... -0.037901
Labor union                0.016807         -0.004182  ... -0.111893
Unemployment Reason        0.009113         -0.000575  ...  0.014396
Employment Status         -0.041883          0.008550  ...  0.261286
Capital Gains             -0.021864          0.016889  ...  0.054113
Capital Loss              -0.024587          0.025508  ...  0.074429
Dividends                 -0.004907          0.000322  ...  0.058082
TaxFiler                   0.077868         -0.010227  ... -0.345780
Previous Region            0.000114          0.000547  ... -0.003105
Previous State             0.001538         -0.005599  ... -0.009723
Family Status             -0.089355         -0.008321  ...  0.589796
Household                 -0.076363         -0.015392  ...  0.503404
Instance Weight           -0.009122          0.010438  ...  0.046187
MIGMSA                     0.004597         -0.003721  ... -0.015373
MIGRegion                  0.004279         -0.001139  ... -0.007682
MIGMove                    0.004359         -0.001497  ... -0.007659
1YearAgo                   0.002185         -0.008037  ...  0.003886
PrevSunBelt                0.001561         -0.000824  ... -0.005065
Under18                   -0.128084          0.067762  ...  0.443186
Parents                   -0.126058          0.047067  ...  1.000000
FatherCountry             -0.007405          0.003635  ... -0.046377
MotherCountry             -0.007755          0.003266  ... -0.045803
BirthCountry               0.006288         -0.013017  ... -0.100740
Citizenship                0.015161         -0.007559  ... -0.109893
Self employed             -0.065794          0.043773  ...  0.167569
VetQtnaire                -0.001619         -0.000339  ... -0.035619
Veteran                   -0.116996          0.054532  ...  0.843168
Weeks Worked              -0.185458          0.081347  ...  0.529657
Year                      -0.002623          0.000424  ...  0.003027

                     FatherCountry  MotherCountry  BirthCountry  Citizenship  \
Age                      -0.095728      -0.083374     -0.068469    -0.051689
Class                     0.008448       0.006966     -0.030828    -0.033871
Industry                  0.036412       0.031556     -0.031001    -0.022274
Occupation                0.027968       0.022410     -0.050206    -0.078001
Education                 0.051352       0.049210      0.055674     0.094450
Wage per hour             0.025864       0.021858      0.007548     0.009645
Education last week      -0.007928      -0.002527     -0.003445    -0.002706
Marital                  -0.015835      -0.016492      0.033123     0.031705
Major Industry           -0.007405      -0.007755      0.006288     0.015161
Major Occupation          0.003635       0.003266     -0.013017    -0.007559
Race                      0.063260       0.065512      0.089475     0.150960
Hispanic                 -0.202065      -0.195965     -0.159281    -0.247586
Gender                    0.007472       0.006654      0.003360     0.002395
Labor union              -0.021738      -0.020867     -0.000785    -0.003214
Unemployment Reason      -0.004492      -0.004797     -0.008119    -0.008637
Employment Status        -0.024669      -0.027117     -0.039701    -0.048768
Capital Gains            -0.001746      -0.003017     -0.003780     0.003754
Capital Loss              0.000602       0.002818      0.002453     0.005644
Dividends                -0.002094      -0.000175      0.010069     0.016581
TaxFiler                  0.003909       0.003738      0.033797     0.037015
Previous Region           0.007792       0.007076      0.015753     0.009184
Previous State            0.024411       0.027605      0.042306     0.062198
Family Status            -0.044451      -0.041023     -0.085266    -0.097917
Household                -0.045785      -0.041509     -0.081715    -0.095483
Instance Weight           0.079287       0.077486      0.055770     0.061631
MIGMSA                    0.014541       0.016582      0.021817     0.030106
MIGRegion                 0.012105       0.012221      0.013981     0.017030
MIGMove                   0.012007       0.012243      0.014310     0.017474
1YearAgo                  0.002057       0.006620      0.018231     0.030471
PrevSunBelt               0.008001       0.008876      0.010371     0.011154
Under18                   0.051379       0.045856     -0.012773    -0.010018
Parents                  -0.046377      -0.045803     -0.100740    -0.109893
FatherCountry             1.000000       0.780618      0.641863     0.565978
MotherCountry             0.780618       1.000000      0.666691     0.582390
BirthCountry              0.641863       0.666691      1.000000     0.845996
Citizenship               0.565978       0.582390      0.845996     1.000000
Self employed             0.051017       0.046984      0.025145     0.028487
VetQtnaire               -0.001074       0.001361     -0.008822    -0.012278
Veteran                  -0.045780      -0.047449     -0.106497    -0.117551
Weeks Worked              0.045055       0.038900     -0.033660    -0.035472
Year                     -0.009183      -0.009825     -0.008833    -0.012291

                     Self employed  VetQtnaire   Veteran  Weeks Worked  \
Age                      -0.002265   -0.065730  0.674844      0.206181
Class                     0.121951    0.007673  0.247322      0.384685
Industry                  0.252694    0.000196  0.476475      0.754472
Occupation                0.228952   -0.002050  0.438680      0.655613
Education                 0.077165   -0.019359  0.004012      0.206955
Wage per hour             0.054051   -0.000293  0.113094      0.195687
Education last week      -0.085535   -0.010362 -0.138344      0.023824
Marital                  -0.086227    0.025481 -0.391808     -0.396805
Major Industry           -0.065794   -0.001619 -0.116996     -0.185458
Major Occupation          0.043773   -0.000339  0.054532      0.081347
Race                      0.035395   -0.012178  0.053654      0.060594
Hispanic                 -0.037319    0.014931 -0.060722     -0.061262
Gender                    0.036327   -0.045604 -0.039445      0.109769
Labor union              -0.076529   -0.004223 -0.121405     -0.197926
Unemployment Reason      -0.006168    0.003737  0.017208     -0.031040
Employment Status         0.050067   -0.011151  0.318255      0.078996
Capital Gains             0.015048   -0.003840  0.051530      0.083549
Capital Loss              0.024116   -0.012905  0.075391      0.100762
Dividends                -0.004885   -0.011077  0.054585      0.013823
TaxFiler                 -0.032205    0.024419 -0.313005     -0.288818
Previous Region          -0.000786   -0.000479 -0.003421     -0.000332
Previous State           -0.030339   -0.005311 -0.003509     -0.003662
Family Status             0.062076   -0.011230  0.523778      0.323320
Household                 0.030926   -0.009061  0.428165      0.259668
Instance Weight           0.012328    0.000238  0.040507      0.029240
MIGMSA                   -0.024129   -0.000861 -0.012926     -0.014561
MIGRegion                -0.011632    0.000484 -0.009829     -0.005269
MIGMove                  -0.012953    0.000432 -0.009351     -0.005685
1YearAgo                 -0.059193   -0.004878  0.017287     -0.008147
PrevSunBelt              -0.015185    0.000617 -0.004137     -0.008115
Under18                   0.240553   -0.003719  0.463334      0.747302
Parents                   0.167569   -0.035619  0.843168      0.529657
FatherCountry             0.051017   -0.001074 -0.045780      0.045055
MotherCountry             0.046984    0.001361 -0.047449      0.038900
BirthCountry              0.025145   -0.008822 -0.106497     -0.033660
Citizenship               0.028487   -0.012278 -0.117551     -0.035472
Self employed             1.000000   -0.001466  0.177448      0.265872
VetQtnaire               -0.001466    1.000000  0.036595     -0.001142
Veteran                   0.177448    0.036595  1.000000      0.532279
Weeks Worked              0.265872   -0.001142  0.532279      1.000000
Year                      0.007377   -0.000543  0.003122      0.005252

                         Year
Age                  0.004413
Class               -0.001244
Industry             0.003430
Occupation          -0.003140
Education            0.002038
Wage per hour        0.002283
Education last week  0.002115
Marital             -0.000666
Major Industry      -0.002623
Major Occupation     0.000424
Race                -0.021074
Hispanic            -0.004371
Gender              -0.001086
Labor union         -0.000938
Unemployment Reason -0.008106
Employment Status    0.575149
Capital Gains        0.005243
Capital Loss         0.000096
Dividends            0.001913
TaxFiler             0.000209
Previous Region     -0.017187
Previous State       0.186188
Family Status        0.004141
Household            0.004447
Instance Weight      0.011765
MIGMSA              -0.959369
MIGRegion           -0.971305
MIGMove             -0.971052
1YearAgo            -0.541934
PrevSunBelt         -0.961555
Under18              0.018774
Parents              0.003027
FatherCountry       -0.009183
MotherCountry       -0.009825
BirthCountry        -0.008833
Citizenship         -0.012291
Self employed        0.007377
VetQtnaire          -0.000543
Veteran              0.003122
Weeks Worked         0.005252
Year                 1.000000

[41 rows x 41 columns]

In [ ]:
X_train.info()

## Split the Data into Training and Testing Sets

In [16]:
# Create the labels set `y` and features DataFrame `X`
y_train = train_data_copy['KTarget']
y_test = test_data_copy['KTarget']

In [17]:
# Check the balance of the labels variable (`y`) by using the `value_counts` function.
y_train.value_counts()

KTarget
0    187141
1     12382
Name: count, dtype: int64

In [18]:
# Split the data into X_train, X_test, y_train, y_test
#X_train, X_test, y_train, y_test = train_test_split(X, y)

## Scale the Features

Use the `StandardScaler` to scale the features data. Remember that only `X_train` and `X_test` DataFrames should be scaled.

In [19]:
# Transforming the test dataset based on the fit from the training dataset
X_train_scaled, X_test_scaled = p_util.scale_data_with_StandardScaler(X_train, X_test)

Scaled X_train data: [[ 1.72587866 -0.43914626 -0.84973982 ...  0.56979856 -0.94934627
   1.00065678]
 [ 1.05355971  2.27510902 -0.62834271 ...  0.56979856  1.18080368
  -0.99934365]
 [-0.73929082 -0.43914626 -0.84973982 ...  0.56979856 -0.94934627
   1.00065678]
 ...
 [ 0.56052581 -0.43914626 -0.84973982 ...  0.56979856  1.18080368
   1.00065678]
 [-0.82893335 -0.43914626 -0.84973982 ...  0.56979856 -0.94934627
   1.00065678]
 [-0.11179313  0.4656055   1.47492979 ...  0.56979856  1.18080368
  -0.99934365]]
Scaled X_train data: [[ 0.15713444  0.4656055  -0.51764416 ...  0.56979856 -0.4577732
   1.00065678]
 [ 0.42606202  2.27510902  1.19818341 ...  0.56979856  0.11572871
   1.00065678]
 [-1.45643103 -0.43914626 -0.84973982 ... -1.77907682 -0.94934627
   1.00065678]
 ...
 [-0.47036324  2.27510902 -0.79439054 ...  0.56979856  1.18080368
  -0.99934365]
 [-0.20143566  0.4656055   1.64097762 ...  0.56979856  1.18080368
   1.00065678]
 [ 1.45695108 -0.43914626 -0.84973982 ...  0.56979856 -0.94934627
  -0.99934365]]

In [ ]:
random_state = 1
p_util.gradient_boost_model_generator(X_train_scaled, X_test_scaled, y_train, y_test, random_state)

In [ ]:
random_state = 1
p_util.ada_boost_model_generator(X_train_scaled, X_test_scaled, y_train, y_test, random_state)

In [ ]:
%%time
random_state = 1
p_util.extra_trees_model_generator(X_train_scaled, X_test_scaled, y_train, y_test, random_state)

## Try a Decision Tree model

In [ ]:
p_util.decision_tree_model_generator(X_train_scaled, X_test_scaled, y_train, y_test)

## Create and Fit a PCA Model

Try a PCA model.

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
X_data_pca = pca.fit_transform(X_train_scaled)
X_data_pca[:5]
pca_df = pd.DataFrame(
    X_data_pca,
    columns=["PCA1", "PCA2"]
)

In [ ]:
X_data_pca[:5]

In [ ]:
pca.explained_variance_ratio_

In [ ]:
from sklearn.cluster import KMeans
inertia = []
k = list(range(1, 11))
for i in k:
    k_model = KMeans(n_clusters=i, n_init='auto', random_state=1)
    k_model.fit(pca_df)
    inertia.append(k_model.inertia_)

# Define a DataFrame to hold the values for k and the corresponding inertia
elbow_data = {"k": k, "inertia": inertia}
df_elbow = pd.DataFrame(elbow_data)

In [ ]:
# Review the DataFrame
df_elbow.head()
df_elbow.plot.line(
    x="k", 
    y="inertia", 
    title="Elbow Curve", 
    xticks=k
)

In [ ]:
# Determine the rate of decrease between each k value
k = df_elbow["k"]
inertia = df_elbow["inertia"]
for i in range(1, len(k)):
    percentage_decrease = (inertia[i-1] - inertia[i]) / inertia[i-1] * 100
    print(f"Percentage decrease from k={k[i-1]} to k={k[i]}: {percentage_decrease:.2f}%")

In [ ]:
# Define the model with 5 clusters
model = KMeans(n_clusters=4, n_init='auto', random_state=0)

# Fit the model
model.fit(pca_df)

# Make predictions
k_3 = model.predict(pca_df)

# Create a copy of the PCA DataFrame
pca_predictions_df = pca_df.copy()

# Add a class column with the labels
pca_predictions_df["income_segments"] = k_3

In [ ]:
pca_predictions_df.plot.scatter(
    x="PCA1",
    y="PCA2",
    c="income_segments",
    colormap='rainbow')

In [ ]:
pca_component_weights = pd.DataFrame(pca.components_.T, columns=['PCA1', 'PCA2'], index=X_train.columns)
pca_component_weights.sort_values('PCA1', ascending=False)

## Create and Fit a Logistic Regression Model

Create a Logistic Regression model, fit it to the training data, make predictions with the testing data, and print the model's accuracy score. You may choose any starting settings you like.

In [ ]:
# All requirements above have been coded into pipeline_utilities python program file

random_state = 1
p_util.logistic_regression_model_generator(X_train_scaled, X_test_scaled, y_train, y_test, random_state)

## Create and Fit a Random Forest Classifier Model

Create a Random Forest Classifier model, fit it to the training data, make predictions with the testing data, and print the model's accuracy score. You may choose any starting settings you like.

In [20]:
# All details have been coded into pipeline_utilities python program file
# Tried 500 estimators, almost no difference and balanced accuracy score was slightly worse, putting it back to 100

#random_state = 1
#n_estimators = 100
#p_util.random_forest_model_generator(X_train_scaled, X_test_scaled, y_train, y_test, random_state, n_estimators, X_train.columns)

# Import RandomUnderSampler from imblearn
from imblearn.under_sampling import RandomUnderSampler

# Instantiate the RandomUnderSampler instance
rus = RandomUnderSampler(random_state=1)

# Fit the data to the model
X_resampled, y_resampled = rus.fit_resample(X_train_scaled, y_train)

# Count distinct resampled values
y_resampled.value_counts()

KTarget
0    12382
1    12382
Name: count, dtype: int64

In [22]:
# Instantiate a second RamdonForestClassifier instance
random_state = 1
n_estimators = 100
p_util.random_forest_model_generator(X_resampled, X_test_scaled, y_resampled, y_test, random_state, n_estimators, X_train.columns)

Random Forest Training Data Score: 0.9999192376029721
Random Forest Testing Data Score: 0.8607485816242657
Random Forest Predictions Accuracy Score: 0.8607485816242657
              precision    recall  f1-score   support

           1       0.29      0.89      0.44      6186
           0       0.99      0.86      0.92     93576

    accuracy                           0.86     99762
   macro avg       0.64      0.87      0.68     99762
weighted avg       0.95      0.86      0.89     99762

Random Forest Balanced Accuracy Score: 0.8724040768907312
[(0.120355017798187, 'Occupation'), (0.09667998585404697, 'Age'), (0.09547593286477608, 'Weeks Worked'), (0.0730341365736758, 'Under18'), (0.0669678799733952, 'Dividends'), (0.06368943498046313, 'Industry'), (0.05528971996256306, 'Instance Weight'), (0.041941953202647424, 'Education'), (0.03804338135999633, 'Family Status'), (0.03655995234678803, 'Gender')]

## Create and Fit an SVM Model

Create a Support Vector Machine model, fit it to the training data, make predictions with the testing data, and print the model's accuracy score.

In [ ]:
# All details have been coded into pipeline_utilities python program file, takes FOREVER to run

#kernel_type = 'linear'
#p_util.svm_model_generator(X_train_scaled, X_test_scaled, y_train, y_test, kernel_type)

## Findings and Conclusions

What was the result of your analysis? Which model performed better?

* All models that I tried achieved over 90% accuracy score with testing data and predictions. The Random Forest model had the best F1 scores of 52%-98% with Gradient Boost running a close second at 51%-98%. PCA analysis resulted in a very pretty set of 4 segments, but the total explained variance by PCA1 and PCA2 was 0.27, so did not reduce dimensionality effectively. My SVC model took forever to run. I ran a total of 6 models.